<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Web</title>
</head>
<body>
    <h1>Go Web</h1>
    <a href="normal.ejs">Normal</a><br><br>
    <a href="quantum.ejs">Quantum</a>
</body>
</html>