<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Web - Quantum</title>
</head>
<body>
<h1>Quantum</h1>
    <p>In quantum space you were absent for ${quantumTime[0]} years, ${quantumTime[1]} months, ${quantumTime[2]} days.</p>
</body>
</html>