<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome back!👋</h1>
    <div class="wrapper">
        <form>
            <p>Let's log you back in!</p>
            <input type="text" name="login" placeholder="Your login" required autofocus>
            <input type="password" name="password" placeholder="Your password" required>
            <p id="error" style="display: none"></p>
            <input type="submit" value="Log in" id="submit">
            <a href="remind_password.html">I forgot my password</a>
        </form>
    </div>
    <p id="status"></p>
    <button id="logout" style="display: none">Log out</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const form = document.querySelector('form');
        const div = document.querySelector('div');
        const h1 = document.querySelector('h1');
        const p = document.getElementById('error');
        const status = document.getElementById('status');
        const button = document.getElementById('logout');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            p.style.display = 'none';

            try {
                const response = await axios.post('/login', new FormData(form));
                const data = response.data;

                if (data.error) {
                    throw new Error(data.error);
                }

                div.style.display = 'none';
                h1.textContent = 'Logged in!';
                status.textContent = `Your role is ${data.status}`;
                button.style.display = 'block';

                localStorage.setItem('token', data.token);
            }
            catch(e) {
                p.style.display = 'block';
                p.textContent = e;
            }
        });

        button.addEventListener('click', () => {
            div.style.display = 'block';
            status.style.display = 'none';
            h1.textContent = 'Welcome back!👋';
            button.style.display = 'none';

            form.reset();
            localStorage.removeItem('token');
        });
    </script>
</body>
</html>