<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remind password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lets restore your password</h1>
    <div class="wrapper">
        <form>
            <label for="email">Your email address</label><br>
            <input type="email" id="email" name="email" placeholder="myemail@mail.com" required>
            <p id="error" style="display: none"></p>
            <input type="submit" id="submit" value="Send me an email">
            <a href="index.html" id="return">Go back to the login page</a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const form = document.querySelector('form');
        const p = document.getElementById('error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            p.style.display = 'none';

            try {
                const response = await axios.post('/remind', new FormData(form));

                if (response.data.error) {
                    throw { error: response.data.error}
                }
            }
            catch (err) {
                p.style.display = 'block';
                p.textContent = err.error;
            }
        });
    </script>
</body>
</html>