div {
    display: flex;
    height: 2em;
}

button {
    color: green;
    padding-right: 10px;
    padding-left: 10px;
}

button:hover {
    color: red;
}

::placeholder {
    color: grey;
}

input {
    border: 2px solid #4444e3;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    color: green;
}

input:focus {
    outline: none;
    color: green;
}

input:hover {
    color: red;
}